NOTION_TOKEN=
VA_DB_ID=
EOD_MAIN_DB_ID=
EOD_CBA_DB_ID=
ATTENDANCE_DB_ID=
CONTRACTS_DB_ID=
FIREBASE_SERVICE_ACCOUNT_JSON=
FRONTEND_URL=https://your-project.web.app
EMAIL_SENDER=
EMAIL_APP_PASSWORD=
EMAIL_RECIPIENTS=